
@media(max-width:480px){
    #navegacion ol li{
    display: block;
    width: 100%;
    font-size: 15px;
    height: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 1px;
    }
}
.breadcrumb {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 4px;
}

.breadcrumb ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.breadcrumb li {
    position: relative;
    font-size: 0.9em;
}

.breadcrumb li:not(:last-child):after {
    content: "/";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.breadcrumb a {
    text-decoration: none;
    color: #333;
}

.breadcrumb a:hover {
    color: #007bff;
}
body{
    margin: auto;
    background-color: lemonchiffon;
    font-family: "Itim";
}
main{
    padding-left: 25px;
    padding-right: 25px;
}
.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Permanent Marker";
}
h1{
    font-family: "Permanent Marker";
    font-size: 40px;
    margin: 0;
    background-color: red;
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
}
h3{
    font-family: "Permanent Marker";
}
a{
    color: inherit;
    text-decoration: inherit;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
#navegacion li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    background-color: lightseagreen;
    color: white;
    border: 3px solid black;
}
#navegacion ol{
    text-align: right;
    padding: 20px;
    padding-right: 50px;
}
img{
    width: 100%;
}