body{
    margin: auto;
    background-color: lemonchiffon;
    font-family: "Itim";
}
main{
    padding-left: 25px;
    padding-right: 25px;
}
.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-family: "Permanent Marker";
}
h1{
    font-family: "Permanent Marker";
    font-size: 40px;
    margin: 0;
}
#titulo{
    background-color:crimson;
    color: white;
    display: inline-block;
    text-align: center;
    width: 400px;
}
h3{
    font-family: "Permanent Marker";
}
a{
    color: inherit;
    text-decoration: inherit;
}
figure{
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
#sagas li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    background-color: #528db1;
    border: 3px solid #9C2e1f;
}
#sagas li+li{
    background-color: #7f0909;
    border: 3px solid #ffc500;
}
#sagas li+li+li{
    background-color: #d8dfe1;
    border: 3px solid #417d6c;
}
#sagas nav{
    padding-right: 50px;
}
#sagas ol{
    text-align: center;

}
#navegacion li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    background-color: lightseagreen;
    color: white;
    border: 3px solid black;
}
#navegacion ol{
    text-align: right;
    padding: 20px;
    padding-right: 50px;
}
#dark{
    width: 600px;
}
#estrella{
    height: 400px;
    width: 600px;
}
#hagrid{
    height: 400px;
    width: 600px;
}
#hedwing{
    height: 400px;
    width: 600px;
}
#comisaria{
    height: 400px;
    width: 600px;
}
#escapada{
    height: 400px;
    width: 600px;
}
#bomberos{
    height: 400px;
    width: 600px;
}
#avion{
    height: 400px;
    width: 600px;
}
#starNav:hover{
    color: #528db1;
    border: #1c2020 solid 3px;
    background: #9C2e1f;
}
#cityNav:hover{
    color: #d8dfe1;
    background-color: #417d6c;
    border: #1c2020 3px solid;
}
#harryNav:hover{
    color: #7f0909;
    background-color: #ffc500;
    border: #1c2020 3px solid;
}
#navegacion>ol>li:hover{
    background: teal;
}